body {
	margin: 0;
	padding: 0;
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
}

/*Typographie*/

h1 {
	font-family: 'Shrikhand', cursive;
	text-align: center;
	margin: 20px 0 auto;
}

h2 {font-family: 'Shrikhand', cursive;
	text-align: center;
}

h3 {
	font-size: 1.5em;
}

h4, p {
	margin: 0;
}

a {
	color: #fff;
	text-decoration: none;
}

.menu-titre a {
	color: #000;
	text-decoration: none;
}


/*HEADER ACCUEIL*/

header {
	position: relative;
	display: flex;
	justify-content: center;
	box-shadow: 0 2px 3px 0 rgba( 0, 0, 0, 0.1);
}

/*--MAIN ACCUEIL--*/

/*section concept*/

.concept {
	text-align: center;
	padding-bottom: 20px;
	background-color: rgb(245, 245, 245);
}

.location {
	background-color:rgb(240, 240, 240);
}

.fas.fa-map-marker-alt {
	padding: 15px 15px 15px 0;
}

.concept-title {
	padding: 0 40px;
}

.lighter {
	font-weight: lighter;
}


/*Boutons Map et Commander*/

.btn {
	color:#ffffff;
	background: linear-gradient(to top left, #9356DC,#FF79DA);
	box-shadow: 0 5px 10px 0 rgba( 0, 0, 0, 0.3);
    text-align: center;
	padding: 10px;
	border: none;
	border-radius: 50px;
	cursor: pointer;
	width: 200px;
	height: 50px;
	margin: 20px auto;
	transition: opacity 1s;
}

.btn:hover {
	opacity: 0.5;
	box-shadow: 0 5px 10px 0 rgba( 0, 0, 0, 0.4);
}

/*section process*/

.process {
	padding: 10px;
	background-color: #fff;
}

.action {
	position: relative;
	text-align: left;
	height: 50px;
	background-color: rgb(245, 245, 245);
	border-radius: 15px;
	box-shadow: 0px 5px 10px 0px rgb(220, 220, 220);
	padding: 20px 13px 0 13px;
	margin: 20px 10px;
}

ul {
	display: flex;
	list-style-type: none;
}

.fas.fa-mobile-alt, .fas.fa-list-ul, .fas.fa-store {
	margin: 0 25px;
	font-size: 20px;
	color: #646464;
}

.fas.fa-store {
	color: #9356DC;
}

.step {
	position: absolute;
	left: -10px;
	padding-top: 2px;
	color: #fff;
	background-color: #9356DC;
	border-radius: 50px;
	width: 23px;
	height: 20px;
	text-align: center;
	font-size: 0.9em;
}

/*section restaurants*/

.restaurants {
	padding: 15px;
	background-color: rgb(245, 245, 245)
	}

.photo {
	width: 100%;
	border-radius: 20px 20px 0 0;
}

.menu {
	position: relative;
	border-radius: 20px;
	margin-bottom: 15px;
	box-shadow: 0px 5px 10px 0px rgb(220, 220, 220);
	background-color: #fff;
}

.menu-titre {
	display: flex;
	margin: 15px;
	justify-content: space-between;
	background-color: #fff;
	border-radius: 20px 20px 0 0;
	padding-bottom: 20px;
}

/*Promo*/

.promo {
	position: absolute;
	top:20px;
	right: 20px;
	color: rgb(12, 107, 80);
	background: #15DEA5;
	border-radius: 3px;
	padding: 15px;
	width: 100px;
	text-align: center;
}

/*Bouton Like*/

.checkbox-like {
	font-size: 25px;
	cursor: pointer;
  	height: 25px;
}

.checkbox-like input[type="checkbox"]:checked ~ .unchecked {
  	display: none;
}

.checkbox-like input[type="checkbox"]:checked ~ .checked {
  	display: inline-block;
  	color: rgba(255, 255, 255, 0);
}

.checkbox-like input[type="checkbox"], .checkbox-like .checked {
  	display: none;
  	animation: like 2s;
  	animation-fill-mode: forwards;
}


@keyframes like {
	0% { 
      opacity: 0;
  }

  50% { 
      background: linear-gradient(to bottom, #9356DC,#FF79DA);
      -webkit-background-clip: text;
    }
	
	100% { 
      background: linear-gradient(to bottom, #9356DC,#FF79DA);
      -webkit-background-clip: text;
  	}
  }


/*FOOTER ACCUEIL*/

footer {
	position: relative;
	padding: 30px;
	color: #fff;
	background-color: rgb(44, 44, 44);
	line-height: 25px;
}

/*footer icones*/

.logo {
	filter: invert(100%);
	width: 100px;
}

.fas.fa-utensils, .fas.fa-hands-helping {
	margin-right: 20px;
}

/*--HEADER PAGES--*/

/*Bouton retour*/

.fas.fa-arrow-left {
	position: absolute;
	top: 30px;
	left: 30px;
	color: #000;
}

/*--MAIN PAGES--*/

main {
	display: flex;
	flex-direction: column;
	background-color: rgb(245, 245, 245);
	padding-bottom: 50px;
}

.photopage {
	position: relative;
	width: 100%;
}

.intro {
	position: relative;
	background-color: rgb(245, 245, 245);
}

.titreintro {
	display: flex;
	justify-content: space-around;
	position: absolute;
	bottom: 0;
	width: 100%;
	background-color: rgb(245, 245, 245);
	border-radius: 40px 40px 0 0;
}

.checkbox-like--position {
	padding-top: 20px;
}

.title-underline {
	border-bottom: 3px solid #15DEA5;
	padding-bottom: 5px;
}

.menupage {
	position: relative;
	margin: 0px 15px 30px 15px;
}

/*Boutons de sélection*/

.far.fa-check-circle {
	margin: auto;
	color: #fff;
	font-size: 25px;
}

.suspension {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	flex-grow: 1;
	margin: 20px 0 0 10px;
}

.title-sup {
	font-weight: normal;
}

.prix {
	padding: 38px 15px 0 15px;
	font-weight: bold;
}

.btn-dish {
	display: flex;
	justify-content: space-between;
	overflow: hidden;
	cursor: pointer;
	background-color: #fff;
	border-radius: 15px;
	box-shadow: 0px 5px 10px 0px rgb(220, 220, 220);
	margin-top: 20px;
	height: 70px;
}

.box {
	overflow: hidden;
	text-align: center;
	background: #15DEA5;
	width: 0;
	align-items: center;
	transition: width 1s;
	padding-top: 25px;
  }

.check {
	display: inline-block;
	transform: rotate(360deg);
	transition: transform 500ms;
}

.btn-dish:active .box {
	width: 70px;
}

.btn-dish:active .box > .check {
	transform: rotate(0deg);
}

/*Apparition boutons sélection*/

.up {
	animation: fadein 1s;
}

.up--1 {
	animation-delay: 50ms;
	animation-fill-mode: forwards;
	opacity:0;
}
.up--2 {
	animation-delay: 150ms;
	animation-fill-mode: forwards;
	opacity:0;
}
.up--3 {
	animation-delay: 300ms;
	animation-fill-mode: forwards;
	opacity:0;
}

.up--4 {
	animation-delay: 450ms;
	animation-fill-mode: forwards;
	opacity:0;
}

@keyframes fadein {
    from {
		transform: translateY(20px);
        opacity:0;
    }
    to {
		transform: translateY(0);
        opacity:1;
    }
}



/*media queries*/

@media all and (max-width: 640px) {
	
	body {
		width: auto;
		margin: 0;
		padding: 0;
	}
}	