body {
	margin: 0;
	padding: 0;
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
}

/* Typographie */

h1 {
	font-family: 'Shrikhand', cursive;
	text-align: center;
	margin: 20px 0 auto;
}

h2 {font-family: 'Shrikhand', cursive;
	text-align: center;
}

h3 {
	font-size: 1.5em;
}

h4, p {
	margin: 0;
}

/*  HEADER ACCUEIL  */

header {
	position: relative;
	display: flex;
	display: -webkit-box;
	display: -ms-flexbox;
	justify-content: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.1);
	-webkit-box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.1);
  }

/*  HEADER PAGES - Bouton retour  */

.fas.fa-arrow-left {
	position: absolute;
	top: 30px;
	left: 30px;
	color: #000;
}


/*  MAIN ACCUEIL  */

/* section concept */

.concept {
	text-align: center;
	padding-bottom: 20px;
	background-color: rgb(245, 245, 245);
}

.location {
	background-color:rgb(240, 240, 240);
}

.fas.fa-map-marker-alt {
	padding: 15px 15px 15px 0;
}

.concept-title {
	padding: 0 40px;
}

.concept-description {
	padding: 0 10px 20px;
}

.lighter {
	font-weight: lighter;
}


/* Boutons Explorer et Commander */

.btn {
	color: #ffffff;
	background: linear-gradient(to top left, #9356DC, #FF79DA);
	background: -webkit-gradient(linear, right bottom, left top, from(#9356DC), to(#FF79DA));
	background: -o-linear-gradient(bottom right, #9356DC, #FF79DA);
	box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.3);
	-webkit-box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.3);
	text-align: center;
	padding: 10px;
	border: none;
	border-radius: 50px;
	cursor: pointer;
	width: 200px;
	height: 50px;
	margin: 20px auto;
	transition: opacity 1s;
	-webkit-transition: opacity 1s;
	-o-transition: opacity 1s;
  }
  
.btn:hover {
	opacity: 0.5;
	box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.4);
	-webkit-box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.4);
}

/* section process */

.process {
	padding: 10px;
	background-color: #fff;
}

.actions-list {
	display: flex;
	display: -webkit-box;
	display: -ms-flexbox;
	flex-direction: column;
	-webkit-box-orient: vertical;
	list-style-type: none;
	padding: 0;
}
  
.actions-list .item {
	position: relative;
	padding: 1em 0.7em;
	padding: 20px 13px 0 13px;
	margin: 20px 10px;
	height: 50px;
	text-align: left;
	background-color: whitesmoke;
	border-radius: 15px;
	box-shadow: 0px 5px 10px 0px gainsboro;
	-webkit-box-shadow: 0px 5px 10px 0px gainsboro;
}
  
.actions-list .item:hover {
	background-color: rgba(147, 86, 220, 0.1);
	cursor: default;
}
  
.actions-list .item:hover .icon {
	color: #9356DC;
}
  
.actions-list .icon {
	margin: 0 25px;
	font-size: 20px;
	color: #646464;
}
  
.step {
	position: absolute;
	left: -10px;
	padding-top: 2px;
	width: 23px;
	height: 20px;
	border-radius: 50px;
	text-align: center;
	font-size: 0.9em;
	color: #fff;
	background-color: #9356DC;
}

/* section restaurants */

.restaurants {
	padding: 15px;
	background-color: rgb(245, 245, 245)
	}

.photo {
	width: 100%;
	border-radius: 20px 20px 0 0;
}

.menu {
	position: relative;
	margin-bottom: 15px;
	border-radius: 20px;
	box-shadow: 0px 5px 10px 0px gainsboro;
	-webkit-box-shadow: 0px 5px 10px 0px gainsboro;
	background-color: #fff;
}

.menu-titre {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	margin: 15px;
	justify-content: space-between;
	-ms-flex-pack: justify;
	background-color: #fff;
	border-radius: 20px 20px 0 0;
	padding-bottom: 20px;
}

.menu-titre a {
	color: #000;
	text-decoration: none;
}

/* Promo */

.promo {
	position: absolute;
	top:20px;
	right: 20px;
	color: rgb(12, 107, 80);
	background: #15DEA5;
	border-radius: 3px;
	padding: 15px;
	width: 100px;
	text-align: center;
}

/* Bouton Like */

.checkbox-like {
	font-size: 25px;
	cursor: pointer;
  	height: 25px;
}

.checkbox-like input[type="checkbox"]:checked ~ .unchecked {
  	display: none;
}

.checkbox-like input[type="checkbox"]:checked ~ .checked {
  	display: inline-block;
  	color: rgba(255, 255, 255, 0);
}

.checkbox-like input[type="checkbox"], .checkbox-like .checked {
  	display: none;
	animation: like 2s;
	-webkit-animation: like 2s;
	animation-fill-mode: forwards;
	-webkit-animation-fill-mode: forwards;
}

@-webkit-keyframes like {
	0% {
	  	opacity: 0;
	}
	50% {
		background: linear-gradient(to bottom, #9356DC, #FF79DA);
	  	background: -webkit-gradient(linear, left top, left bottom, from(#9356DC), to(#FF79DA));
	  	-webkit-background-clip: text;
	}
	100% {
		background: linear-gradient(to bottom, #9356DC, #FF79DA);
	  	background: -webkit-gradient(linear, left top, left bottom, from(#9356DC), to(#FF79DA));
	  	-webkit-background-clip: text;
	}
}
  
@keyframes like {
	0% {
	  	opacity: 0;
	}
	50% {
		background: linear-gradient(to bottom, #9356DC, #FF79DA);
	  	background: -webkit-gradient(linear, left top, left bottom, from(#9356DC), to(#FF79DA));
		background: -o-linear-gradient(top, #9356DC, #FF79DA);
	  	-webkit-background-clip: text;
	}
	100% {
		background: linear-gradient(to bottom, #9356DC, #FF79DA);
	  	background: -webkit-gradient(linear, left top, left bottom, from(#9356DC), to(#FF79DA));
		background: -o-linear-gradient(top, #9356DC, #FF79DA);
	  	-webkit-background-clip: text;
	}
}


/*  FOOTER  */

footer {
	position: relative;
	padding: 30px;
	color: #ffffff;
	background-color: #2c2c2c;
  }

.footer-link {
	padding-left: 0;
	list-style-type: none;
	line-height: 25px;
	cursor: default;
}

.footer-link .item .icon {
	margin-right: 20px;
}

.footer-link .item a {
	color: #ffffff;
	text-decoration: none;
}
  
.logo {
	width: 100px;
	filter: invert(100%);
}

/* loader */

.LoaderStart {
	animation: WhitePage 5s;
	-webkit-animation: WhitePage 5s;
}

.loader {
    position: absolute;
  	width: 100%;
  	height: 50px;
  	text-align: center;
}

.loader-side {
	width: 80px;
	height: 80px;
	display: inline-block;
	margin: 200px auto;
	border-radius: 60px;
	border-top: 4px solid  #9356DC;
	border-right: 4px solid rgba(91, 25, 93, 0.4);
	border-bottom: 4px solid #9356DC;
	border-left: 4px solid rgba(91, 25, 93, 0.4);
	animation-name: spin;
	-webkit-animation-name: spin;
	animation-duration: 1200ms;
	-webkit-animation-duration: 1200ms;
	animation-timing-function: linear;
	-webkit-animation-timing-function: linear;
	animation-iteration-count: 2;
	-webkit-animation-iteration-count: 2;
	animation-fill-mode: forwards;
	-webkit-animation-fill-mode: forwards;
  }

@-webkit-keyframes spin {
	0% {
		transform: rotate(0deg);
	  	-webkit-transform: rotate(0deg);
	  	overflow: hidden;
	}
	100% {
		transform: rotate(360deg);
	  	-webkit-transform: rotate(360deg);
	  	visibility: hidden;
	}
}

@keyframes spin {
	0% {
		transform: rotate(0deg);
	  	-webkit-transform: rotate(0deg);
	  	overflow: hidden;
	}
	100% {
		transform: rotate(360deg);
	  	-webkit-transform: rotate(360deg);
	  	visibility: hidden;
	}
}
  
/* Page blanche Loaader */

@keyframes WhitePage {
	0% {
	  	opacity: 0;
	}
  
	50% {
	  	opacity: 0;
	}
  
	100% {
	  	opacity: 1;
	}
}
  
@-webkit-keyframes WhitePage {
	0% {
	  	opacity: 0;
	}
  
	50% {
	  	opacity: 0;
	}
  
	100% {
	  	opacity: 1;
	}
}


/*  HEADER PAGES  */

/* Bouton retour */

.fas.fa-arrow-left {
	position: absolute;
	top: 30px;
	left: 30px;
	color: #000;
}

/*  MAIN PAGES  */

main {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
		-ms-flex-direction: column;
			flex-direction: column;
	background-color: rgb(245, 245, 245);
	padding-bottom: 50px;
}

.photopage {
	position: relative;
	width: 100%;
}

.intro {
	position: relative;
	background-color: rgb(245, 245, 245);
}

.titreintro {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-pack: distribute;
		justify-content: space-around;
	position: absolute;
	bottom: 0;
	width: 100%;
	background-color: whitesmoke;
	border-radius: 40px 40px 0 0;
  }

.checkbox-like--position {
	margin-top: 20px;
}

.title-underline {
	border-bottom: 3px solid #15DEA5;
	padding-bottom: 5px;
}

.menupage {
	position: relative;
	margin: 0px 15px 30px 15px;
}

/* Boutons de sélection */

.far.fa-check-circle {
	margin: auto;
	color: #fff;
	font-size: 25px;
}

.suspension {
	overflow: hidden;
	text-overflow: ellipsis;
	-o-text-overflow: ellipsis;
	white-space: nowrap;
	-webkit-box-flex: 1;
		-ms-flex-positive: 1;
			flex-grow: 1;
	margin: 20px 0 0 10px;
  }

.title-sup {
	font-weight: normal;
}

.prix {
	padding: 38px 15px 0 15px;
	font-weight: bold;
}

.btn-dish {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	justify-content: space-between;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	overflow: hidden;
	cursor: pointer;
	background-color: #fff;
	border-radius: 15px;
	box-shadow: 0px 5px 10px 0px gainsboro;
	-webkit-box-shadow: 0px 5px 10px 0px gainsboro;
	margin-top: 20px;
	height: 70px;
}

.box {
	overflow: hidden;
	width: 0;
	padding-top: 25px;
	align-items: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	text-align: center;
	background: #15DEA5;
	transition: width 1s;
	-webkit-transition: width 1s;
	-o-transition: width 1s;
}

.check {
	display: inline-block;
	transform: rotate(360deg);
	-webkit-transform: rotate(360deg);
	-ms-transform: rotate(360deg);
	transition: transform 500ms;
	-webkit-transition: -webkit-transform 500ms;
	transition: -webkit-transform 500ms;
	-o-transition: transform 500ms;
	transition: transform 500ms, -webkit-transform 500ms;
}

.btn-dish:hover .box {
	width: 70px;
}

.btn-dish:hover .box > .check {
	transform: rotate(0deg);
	-webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
}

/* Apparition boutons sélection */

.up {
	-webkit-animation: fadein 1s;
			animation: fadein 1s;
}
  
.up--1 {
	-webkit-animation-delay: 50ms;
			animation-delay: 50ms;
	-webkit-animation-fill-mode: forwards;
			animation-fill-mode: forwards;
	opacity: 0;
}
  
.up--2 {
	-webkit-animation-delay: 150ms;
			animation-delay: 150ms;
	-webkit-animation-fill-mode: forwards;
			animation-fill-mode: forwards;
	opacity: 0;
}
  
.up--3 {
	-webkit-animation-delay: 300ms;
			animation-delay: 300ms;
	-webkit-animation-fill-mode: forwards;
			animation-fill-mode: forwards;
	opacity: 0;
}
  
.up--4 {
	-webkit-animation-delay: 450ms;
			animation-delay: 450ms;
	-webkit-animation-fill-mode: forwards;
			animation-fill-mode: forwards;
	opacity: 0;
}

@-webkit-keyframes fadein {
	from {
	  -webkit-transform: translateY(20px);
			  transform: translateY(20px);
	  opacity: 0;
	}
	to {
	  -webkit-transform: translateY(0);
			  transform: translateY(0);
	  opacity: 1;
	}
}
  
@keyframes fadein {
	from {
	  -webkit-transform: translateY(20px);
			  transform: translateY(20px);
	  opacity: 0;
	}
	to {
	  -webkit-transform: translateY(0);
			  transform: translateY(0);
	  opacity: 1;
	}
}


/*  MEDIA QUERIES  */

@media all and (min-width: 800px) {
	body {
		width: auto;
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
			-ms-flex-direction: column;
				flex-direction: column;
		margin: 0;
		padding: 0;
	}
  
	.process, .restaurants, .intro, .menupage {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
			-ms-flex-direction: column;
				flex-direction: column;
		-webkit-box-align: center;
			-ms-flex-align: center;
				align-items: center;
	}
  
	.actions-list {
	    width: 730px;
	}
  
	.menu, .intro, .menupage {
	    width: 800px;
	}
  
	.container {
		-webkit-box-align: center;
			-ms-flex-align: center;
				align-items: center;
	}
  
	.btn-dish {
	    width: 95%;
	}
  }

@media all and (max-width: 400px) {
	.title-sup {
	    font-size: 14px;
	}
  
	.menupage {
	    margin: 0px 10px 30px 10px;
	}
}