body {
	margin: 0;
	padding: 0;
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
}

/*Typographie*/

h1 {
	font-family: 'Shrikhand', cursive;
	text-align: center;
}

h2 {font-family: 'Shrikhand', cursive;
	text-align: center;
}

a {
	color: black;
	text-decoration: none;
}

/*loader*/


/*HEADER ACCUEIL*/

header {
	position: relative;
	display: flex;
	justify-content: center;
	box-shadow: 0 2px 3px 0 rgba( 0, 0, 0, 0.1);
}


/*main*/

.btn {
	color:#ffffff;
	font-size: 14px;
	background: linear-gradient(to top left, #9356DC,#FF79DA);
	box-shadow: 0 0 5px rgba( 0, 0, 0, 0.5);
    text-align: center;
	padding: 10px;
	border-radius: 50px;
	width: 150px;
	height: 30px;
	margin: auto;
	transition: opacity 1s;
}

.btn:hover {
	opacity: 0.5;
}

/*section book*/

.book {
	text-align: center;
	padding-bottom: 50px;
	background-color: rgb(240, 240, 240);
}

i.fas.fa-map-marker-alt {
	padding: 20px;
}

.map {
	display: flex;
	background-color:rgb(211, 210, 210);
	}

/*section process*/

.process {
	
}

.action {
	text-align: left;
	background-color: rgb(240, 240, 240);
	border-radius: 20px;
	box-shadow: 8px 8px 12px rgb(200, 200, 200);
	padding: 13px;
	margin: 12px;
}

/*section restaurants*/

.restaurants {
	padding: 15px;
	}

.accessmenu {
	border-radius: 20px;
	border: solid rgb(240, 240, 240);
	margin-bottom: 15px;
	box-shadow: 8px 8px 12px rgb(200, 200, 200);
}


i.far.fa-heart {
	font-size: 40px;
}

i.far.fa-heart:hover {
	color: #c8187f;
}

.photo {
	width: 100%;
	border-radius: 20px 20px 0 0;
}


/*FOOTER ACCUEIL*/

footer {
	position: relative;
	padding: 30px;
	color: #fff;
	background-color: rgb(44, 44, 44);
	line-height: 25px;
}


/*footer icones*/

.logo {
	filter: invert(100%);
	width: 100px;
}

.fas.fa-utensils, .fas.fa-hands-helping {
	margin-right: 20px;
}

/*HEADER PAGES*/

/*Bouton retour*/

.fas.fa-arrow-left {
	position: absolute;
	top: 30px;
	left: 30px;
	color: #000;
}

/*pages*/

.intro {
	position: relative;
}

.titreintro {
	background-color: #fff;
	border-radius: 20px 20px 0 0;
}

.photopage {
	position: relative;
	width: 100%;
	border-radius: 20px 20px 0 0;
}

.menupage {
	position: relative;
}

.btn-dish {
	text-align: center;
	background-color: rgb(240, 240, 240);
	border-radius: 20px;
	box-shadow: 8px 8px 12px rgb(200, 200, 200);
	padding: 13px;
	margin: 12px;
	transition: background-color 1s;
	animation: fadein 5s;
	-moz-animation: fadein 5s;
    -webkit-animation: fadein 5s;
    -o-animation: fadein 5s;
}

@keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}


/*media queries*/

@media all and (max-width: 640px) {
	
	body {
		width: auto;
		margin: 0;
		padding: 0;
	}
}	