@charset "UTF-8";
body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
}

/*  TYPOGRAPHY  */
h1 {
  font-family: "Shrikhand", cursive;
  text-align: center;
  margin: 20px 0 auto;
}

h2 {
  font-family: "Shrikhand", cursive;
  text-align: center;
}

h3 {
  font-size: 1.5em;
}

h4, p {
  margin: 0;
}

/*  HEADER  */
header {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.1);
          box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.1);
}

/*  HEADER - Bouton retour  */
header .icon {
  position: absolute;
  top: 30px;
  left: 30px;
  color: #000;
}

/*  FOOTER  */
footer {
  position: relative;
  padding: 30px;
  color: #ffffff;
  background-color: #2c2c2c;
}
footer .footer-link {
  padding-left: 0;
  list-style-type: none;
  line-height: 25px;
  cursor: default;
}
footer .footer-link .item .icon {
  margin-right: 20px;
}
footer .footer-link .item a {
  color: #ffffff;
  text-decoration: none;
}

.logo {
  width: 100px;
  -webkit-filter: invert(100%);
          filter: invert(100%);
}

/*  MAIN  */
main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-bottom: 50px;
  background-color: whitesmoke;
}

/*  MAIN ACCUEIL  */
/*  MAIN ACCUEIL - section concept  */
.concept {
  padding-bottom: 20px;
  background-color: whitesmoke;
  text-align: center;
}

.location {
  background-color: #f0f0f0;
}

.location .icon {
  padding: 15px 15px 15px 0;
}

.concept-title {
  padding: 0 40px;
}

.concept-description {
  padding: 0 30px;
}

.lighter {
  font-weight: lighter;
}

/*  MAIN ACCUEIL - section process  */
.process {
  padding: 10px;
  background-color: #fff;
}

.actions-list {
  display: flex;
  display: -webkit-box;
  display: -ms-flexbox;
  -ms-flex-direction: column;
      flex-direction: column;
  -webkit-box-orient: vertical;
  list-style-type: none;
  padding: 0;
}

.actions-list .item {
  position: relative;
  padding: 1em 0.7em;
  padding: 20px 13px 0 13px;
  margin: 20px 10px;
  height: 50px;
  text-align: left;
  background-color: whitesmoke;
  border-radius: 15px;
  box-shadow: 0px 5px 10px 0px gainsboro;
  -webkit-box-shadow: 0px 5px 10px 0px gainsboro;
}

.actions-list .item:hover {
  background-color: rgba(147, 86, 220, 0.1);
  cursor: default;
}

.actions-list .item:hover .icon {
  color: #9356DC;
}

.actions-list .icon {
  margin: 0 25px;
  font-size: 20px;
  color: #646464;
}

.step {
  position: absolute;
  left: -10px;
  padding-top: 2px;
  width: 23px;
  height: 20px;
  border-radius: 50px;
  text-align: center;
  font-size: 0.9em;
  color: #fff;
  background-color: #9356DC;
}

/*  MAIN ACCUEIL - section restaurants  */
.restaurants {
  padding: 15px;
  background-color: whitesmoke;
}

.photo {
  width: 100%;
  border-radius: 20px 20px 0 0;
}

.menu {
  position: relative;
  margin-bottom: 15px;
  border-radius: 20px;
  -webkit-box-shadow: 0px 5px 10px 0px gainsboro;
          box-shadow: 0px 5px 10px 0px gainsboro;
  background-color: #fff;
}

.menu-titre {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 15px;
  padding-bottom: 20px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #fff;
  border-radius: 20px 20px 0 0;
}

.menu-titre a {
  color: #000;
  text-decoration: none;
}

/*  MAIN ACCUEIL - Promo  */
.promo {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 100px;
  padding: 15px;
  color: #0c6b50;
  background: #15DEA5;
  border-radius: 3px;
  text-align: center;
}

/*  MAIN PAGES  */
/*  MAIN PAGES - section intro  */
.photopage {
  position: relative;
  width: 100%;
}

.intro {
  position: relative;
  background-color: whitesmoke;
}

.titreintro {
  position: absolute;
  bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 100%;
  background-color: whitesmoke;
  border-radius: 40px 40px 0 0;
}

.checkbox-like--position {
  margin-top: 20px;
}

/*  MAIN PAGES - section menupages  */
.title-underline {
  border-bottom: 3px solid #15DEA5;
  padding-bottom: 5px;
}

.menupage {
  position: relative;
  margin: 0px 15px 30px 15px;
}

/*  ANIMATION - loader  */
.loader {
  position: absolute;
  width: 100%;
  height: 50px;
  text-align: center;
}

.loader-side {
  width: 80px;
  height: 80px;
  display: inline-block;
  margin: 200px auto;
  border-radius: 60px;
  border-top: 4px solid #9356DC;
  border-right: 4px solid rgba(91, 25, 93, 0.4);
  border-bottom: 4px solid #9356DC;
  border-left: 4px solid rgba(91, 25, 93, 0.4);
  animation-name: spin;
  -webkit-animation-name: spin;
  animation-duration: 1200ms;
  -webkit-animation-duration: 1200ms;
  animation-timing-function: linear;
  -webkit-animation-timing-function: linear;
  animation-iteration-count: 2;
  -webkit-animation-iteration-count: 2;
  animation-fill-mode: forwards;
  -webkit-animation-fill-mode: forwards;
}

@-webkit-keyframes spin {
  0% {
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    overflow: hidden;
  }
  100% {
    transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    visibility: hidden;
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    overflow: hidden;
  }
  100% {
    transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    visibility: hidden;
  }
}
/*  ANIMATION - Page blanche Loader */
.LoaderStart {
  -webkit-animation: WhitePage 5s;
          animation: WhitePage 5s;
}

@-webkit-keyframes WhitePage {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes WhitePage {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
/*  BOUTONS - Map et Commander  */
.btn {
  color: #ffffff;
  background: -webkit-gradient(linear, right bottom, left top, from(#9356DC), to(#FF79DA));
  background: -o-linear-gradient(bottom right, #9356DC, #FF79DA);
  background: linear-gradient(to top left, #9356DC, #FF79DA);
  -webkit-box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.3);
          box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.3);
  text-align: center;
  padding: 10px;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  width: 200px;
  height: 50px;
  margin: 20px auto;
  -webkit-transition: opacity 1s;
  -o-transition: opacity 1s;
  transition: opacity 1s;
}

.btn:hover {
  opacity: 0.5;
  -webkit-box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.4);
          box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.4);
}

/*  BOUTONS - checkbox like  */
.checkbox-like {
  font-size: 25px;
  cursor: pointer;
  height: 25px;
}

.checkbox-like input[type=checkbox]:checked ~ .unchecked {
  display: none;
}

.checkbox-like input[type=checkbox]:checked ~ .checked {
  display: inline-block;
  color: rgba(255, 255, 255, 0);
}

.checkbox-like input[type=checkbox], .checkbox-like .checked {
  display: none;
  -webkit-animation: like 2s;
          animation: like 2s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@-webkit-keyframes like {
  0% {
    opacity: 0;
  }
  50% {
    background: -webkit-gradient(linear, left top, left bottom, from(#9356DC), to(#FF79DA));
    background: linear-gradient(to bottom, #9356DC, #FF79DA);
    -webkit-background-clip: text;
  }
  100% {
    background: -webkit-gradient(linear, left top, left bottom, from(#9356DC), to(#FF79DA));
    background: linear-gradient(to bottom, #9356DC, #FF79DA);
    -webkit-background-clip: text;
  }
}

@keyframes like {
  0% {
    opacity: 0;
  }
  50% {
    background: -webkit-gradient(linear, left top, left bottom, from(#9356DC), to(#FF79DA));
    background: -o-linear-gradient(top, #9356DC, #FF79DA);
    background: linear-gradient(to bottom, #9356DC, #FF79DA);
    -webkit-background-clip: text;
  }
  100% {
    background: -webkit-gradient(linear, left top, left bottom, from(#9356DC), to(#FF79DA));
    background: -o-linear-gradient(top, #9356DC, #FF79DA);
    background: linear-gradient(to bottom, #9356DC, #FF79DA);
    -webkit-background-clip: text;
  }
}
/*  BOUTONS - sélection plats  */
.ellipse {
  overflow: hidden;
  -o-text-overflow: ellipsis;
     text-overflow: ellipsis;
  white-space: nowrap;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  margin: 20px 0 0 10px;
}

.title-sup {
  font-weight: normal;
}

.prix {
  padding: 38px 15px 0 15px;
  font-weight: bold;
}

.btn-dish {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  overflow: hidden;
  cursor: pointer;
  background-color: #fff;
  border-radius: 15px;
  -webkit-box-shadow: 0px 5px 10px 0px gainsboro;
          box-shadow: 0px 5px 10px 0px gainsboro;
  margin-top: 20px;
  height: 70px;
}

.box {
  overflow: hidden;
  text-align: center;
  background: #15DEA5;
  width: 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: width 1s;
  -o-transition: width 1s;
  transition: width 1s;
  padding-top: 25px;
}

.check {
  display: inline-block;
  margin: auto;
  color: #fff;
  font-size: 25px;
  -webkit-transform: rotate(360deg);
      -ms-transform: rotate(360deg);
          transform: rotate(360deg);
  -webkit-transition: -webkit-transform 500ms;
  transition: -webkit-transform 500ms;
  -o-transition: transform 500ms;
  transition: transform 500ms;
  transition: transform 500ms, -webkit-transform 500ms;
}

.btn-dish:hover .box {
  width: 70px;
}

.btn-dish:hover .box > .check {
  -webkit-transform: rotate(0deg);
      -ms-transform: rotate(0deg);
          transform: rotate(0deg);
}

/*  ANIMATION - Apparition boutons sélection  */
.up {
  -webkit-animation: fadein 1s;
          animation: fadein 1s;
}

.up--1 {
  -webkit-animation-delay: 50ms;
          animation-delay: 50ms;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  opacity: 0;
}

.up--2 {
  -webkit-animation-delay: 150ms;
          animation-delay: 150ms;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  opacity: 0;
}

.up--3 {
  -webkit-animation-delay: 300ms;
          animation-delay: 300ms;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  opacity: 0;
}

.up--4 {
  -webkit-animation-delay: 450ms;
          animation-delay: 450ms;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  opacity: 0;
}

@-webkit-keyframes fadein {
  from {
    -webkit-transform: translateY(20px);
            transform: translateY(20px);
    opacity: 0;
  }
  to {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}

@keyframes fadein {
  from {
    -webkit-transform: translateY(20px);
            transform: translateY(20px);
    opacity: 0;
  }
  to {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}

/*# sourceMappingURL=data:application/json;base64,eyJ2ZXJzaW9uIjozLCJzb3VyY2VzIjpbIi4uL3N0eWxlLmNzcyIsIi4uLy4uL3Nhc3MvYmFzZS9fYm9keS5zY3NzIiwiLi4vLi4vc2Fzcy9iYXNlL190eXBvZ3JhcGh5LnNjc3MiLCIuLi8uLi9zYXNzL2xheW91dC9faGVhZGVyLnNjc3MiLCIuLi8uLi9zYXNzL2xheW91dC9fZm9vdGVyLnNjc3MiLCIuLi8uLi9zYXNzL3V0aWxzL192YXJpYWJsZXMuc2NzcyIsIi4uLy4uL3Nhc3MvbGF5b3V0L19tYWluLnNjc3MiLCIuLi8uLi9zYXNzL2xheW91dC9fbWFpbi1ob21lLnNjc3MiLCIuLi8uLi9zYXNzL2xheW91dC9fbWFpbi1wYWdlcy5zY3NzIiwiLi4vLi4vc2Fzcy9jb21wb25lbnRzL19sb2FkZXIuc2NzcyIsIi4uLy4uL3Nhc3MvY29tcG9uZW50cy9fYnV0dG9uLUFQSS5zY3NzIiwiLi4vLi4vc2Fzcy9jb21wb25lbnRzL19idXR0b24tY2hlY2tib3gtbGlrZS5zY3NzIiwiLi4vLi4vc2Fzcy9jb21wb25lbnRzL19idXR0b24tY2hlY2stZGlzaC5zY3NzIiwiLi4vLi4vc2Fzcy9jb21wb25lbnRzL19hbmltYXRpb24tZmFkZWluLnNjc3MiXSwibmFtZXMiOltdLCJtYXBwaW5ncyI6IkFBQUEsZ0JBQWdCO0FDQWhCO0VBQ0MsU0FBQTtFQUNBLFVBQUE7RUFDQSxpQ0FBQTtFQUNBLGVBQUE7QURFRDs7QUVOQSxpQkFBQTtBQUVBO0VBQ0MsaUNBQUE7RUFDQSxrQkFBQTtFQUNBLG1CQUFBO0FGUUQ7O0FFTEE7RUFBSSxpQ0FBQTtFQUNILGtCQUFBO0FGU0Q7O0FFTkE7RUFDQyxnQkFBQTtBRlNEOztBRU5BO0VBQ0MsU0FBQTtBRlNEOztBRzFCQSxhQUFBO0FBRUE7RUFDQyxrQkFBQTtFQUNBLG9CQUFBO0VBQUEsb0JBQUE7RUFBQSxhQUFBO0VBQ0Esd0JBQUE7TUFBQSxxQkFBQTtVQUFBLHVCQUFBO0VBQ0Esa0RBQUE7VUFBQSwwQ0FBQTtBSDRCRDs7QUd6QkEsNkJBQUE7QUFFQTtFQUNDLGtCQUFBO0VBQ0EsU0FBQTtFQUNBLFVBQUE7RUFDQSxXQUFBO0FIMkJEOztBSTFDQSxhQUFBO0FBRUE7RUFDQyxrQkFBQTtFQUNBLGFBQUE7RUFDQSxjQUFBO0VBQ0EseUJDSGtCO0FMK0NuQjtBSTNDQztFQUNDLGVBQUE7RUFDQSxxQkFBQTtFQUNBLGlCQUFBO0VBQ0EsZUFBQTtBSjZDRjtBSTVDRTtFQUNDLGtCQUFBO0FKOENIO0FJNUNFO0VBQ0MsY0FBQTtFQUNBLHFCQUFBO0FKOENIOztBSXpDQTtFQUNDLFlBQUE7RUFDQSw0QkFBQTtVQUFBLG9CQUFBO0FKNENEOztBTXBFQSxXQUFBO0FBRUE7RUFDQyxvQkFBQTtFQUFBLG9CQUFBO0VBQUEsYUFBQTtFQUNBLDRCQUFBO0VBQUEsNkJBQUE7TUFBQSwwQkFBQTtVQUFBLHNCQUFBO0VBQ0Esb0JBQUE7RUFDQSw0QkFBQTtBTnNFRDs7QU81RUEsbUJBQUE7QUFFQSxxQ0FBQTtBQUVBO0VBQ0Msb0JBQUE7RUFDQSw0QkFBQTtFQUNBLGtCQUFBO0FQNkVEOztBTzFFQTtFQUNDLHlCQUFBO0FQNkVEOztBTzFFQTtFQUNDLHlCQUFBO0FQNkVEOztBTzFFQTtFQUNDLGVBQUE7QVA2RUQ7O0FPMUVBO0VBQ0MsZUFBQTtBUDZFRDs7QU8xRUE7RUFDQyxvQkFBQTtBUDZFRDs7QU8xRUEscUNBQUE7QUFFQTtFQUNDLGFBQUE7RUFDQSxzQkFBQTtBUDRFRDs7QU96RUE7RUFDQyxhQUFBO0VBQ0Esb0JBQUE7RUFDRSxvQkFBQTtFQUNGLDBCQUFBO01BQUEsc0JBQUE7RUFDQSw0QkFBQTtFQUNBLHFCQUFBO0VBQ0EsVUFBQTtBUDRFRDs7QU96RUE7RUFDQyxrQkFBQTtFQUNBLGtCQUFBO0VBQ0EseUJBQUE7RUFDQSxpQkFBQTtFQUNBLFlBQUE7RUFDQSxnQkFBQTtFQUNBLDRCQUFBO0VBQ0EsbUJBQUE7RUFDQSxzQ0FBQTtFQUNBLDhDQUFBO0FQNEVEOztBT3pFQTtFQUNDLHlDQUFBO0VBQ0EsZUFBQTtBUDRFRDs7QU96RUE7RUFDQyxjRmxFZTtBTDhJaEI7O0FPekVBO0VBQ0MsY0FBQTtFQUNBLGVBQUE7RUFDQSxjQUFBO0FQNEVEOztBT3pFQTtFQUNDLGtCQUFBO0VBQ0EsV0FBQTtFQUNBLGdCQUFBO0VBQ0EsV0FBQTtFQUNBLFlBQUE7RUFDQSxtQkFBQTtFQUNBLGtCQUFBO0VBQ0EsZ0JBQUE7RUFDQSxXQUFBO0VBQ0EseUJGckZlO0FMaUtoQjs7QU96RUEseUNBQUE7QUFFQTtFQUNDLGFBQUE7RUFDQSw0QkFBQTtBUDJFRDs7QU94RUE7RUFDQyxXQUFBO0VBQ0EsNEJBQUE7QVAyRUQ7O0FPeEVBO0VBQ0Msa0JBQUE7RUFDQSxtQkFBQTtFQUNBLG1CQUFBO0VBQ0EsOENBQUE7VUFBQSxzQ0FBQTtFQUNBLHNCQUFBO0FQMkVEOztBT3hFQTtFQUNDLG9CQUFBO0VBQUEsb0JBQUE7RUFBQSxhQUFBO0VBQ0EsWUFBQTtFQUNBLG9CQUFBO0VBQ0EseUJBQUE7TUFBQSxzQkFBQTtVQUFBLDhCQUFBO0VBQ0Esc0JBQUE7RUFDQSw0QkFBQTtBUDJFRDs7QU94RUE7RUFDQyxXQUFBO0VBQ0EscUJBQUE7QVAyRUQ7O0FPeEVBLDJCQUFBO0FBRUE7RUFDQyxrQkFBQTtFQUNBLFNBQUE7RUFDQSxXQUFBO0VBQ0EsWUFBQTtFQUNBLGFBQUE7RUFDQSxjQUFBO0VBQ0EsbUJGaklnQjtFRWtJaEIsa0JBQUE7RUFDQSxrQkFBQTtBUDBFRDs7QVEvTUEsaUJBQUE7QUFFQSxpQ0FBQTtBQUVBO0VBQ0Msa0JBQUE7RUFDQSxXQUFBO0FSZ05EOztBUTdNQTtFQUNDLGtCQUFBO0VBQ0EsNEJBQUE7QVJnTkQ7O0FRN01BO0VBQ0Msa0JBQUE7RUFDQSxTQUFBO0VBQ0Esb0JBQUE7RUFBQSxvQkFBQTtFQUFBLGFBQUE7RUFDQSx5QkFBQTtNQUFBLDZCQUFBO0VBQ0EsV0FBQTtFQUNBLDRCQUFBO0VBQ0EsNEJBQUE7QVJnTkQ7O0FRN01BO0VBQ0MsZ0JBQUE7QVJnTkQ7O0FRN01BLHFDQUFBO0FBRUE7RUFDQyxnQ0FBQTtFQUNBLG1CQUFBO0FSK01EOztBUTVNQTtFQUNDLGtCQUFBO0VBQ0EsMEJBQUE7QVIrTUQ7O0FTcFBBLHlCQUFBO0FBRUE7RUFDSSxrQkFBQTtFQUNELFdBQUE7RUFDQSxZQUFBO0VBQ0Esa0JBQUE7QVRzUEg7O0FTblBBO0VBQ0MsV0FBQTtFQUNBLFlBQUE7RUFDQSxxQkFBQTtFQUNBLGtCQUFBO0VBQ0EsbUJBQUE7RUFDQSw2QkFBQTtFQUNBLDZDQUFBO0VBQ0EsZ0NBQUE7RUFDQSw0Q0FBQTtFQUNBLG9CQUFBO0VBQ0EsNEJBQUE7RUFDQSwwQkFBQTtFQUNBLGtDQUFBO0VBQ0EsaUNBQUE7RUFDQSx5Q0FBQTtFQUNBLDRCQUFBO0VBQ0Esb0NBQUE7RUFDQSw2QkFBQTtFQUNBLHFDQUFBO0FUc1BEOztBU25QQTtFQUNDO0lBQ0MsdUJBQUE7SUFDRSwrQkFBQTtJQUNBLGdCQUFBO0VUc1BGO0VTcFBEO0lBQ0MseUJBQUE7SUFDRSxpQ0FBQTtJQUNBLGtCQUFBO0VUc1BGO0FBQ0Y7O0FTaFFBO0VBQ0M7SUFDQyx1QkFBQTtJQUNFLCtCQUFBO0lBQ0EsZ0JBQUE7RVRzUEY7RVNwUEQ7SUFDQyx5QkFBQTtJQUNFLGlDQUFBO0lBQ0Esa0JBQUE7RVRzUEY7QUFDRjtBU25QQSxxQ0FBQTtBQUVBO0VBQ0MsK0JBQUE7VUFBQSx1QkFBQTtBVG9QRDs7QVNqUEE7RUFDQztJQUNHLFVBQUE7RVRvUEY7RVNqUEQ7SUFDRyxVQUFBO0VUbVBGO0VTaFBEO0lBQ0csVUFBQTtFVGtQRjtBQUNGOztBUzdQQTtFQUNDO0lBQ0csVUFBQTtFVG9QRjtFU2pQRDtJQUNHLFVBQUE7RVRtUEY7RVNoUEQ7SUFDRyxVQUFBO0VUa1BGO0FBQ0Y7QVUvU0EsaUNBQUE7QUFFQTtFQUNDLGNBQUE7RUFDQSx3RkFBQTtFQUFBLDhEQUFBO0VBQUEsMERBQUE7RUFDQSxtREFBQTtVQUFBLDJDQUFBO0VBQ0csa0JBQUE7RUFDSCxhQUFBO0VBQ0EsWUFBQTtFQUNBLG1CQUFBO0VBQ0EsZUFBQTtFQUNBLFlBQUE7RUFDQSxZQUFBO0VBQ0EsaUJBQUE7RUFDQSw4QkFBQTtFQUFBLHlCQUFBO0VBQUEsc0JBQUE7QVZnVEQ7O0FVN1NBO0VBQ0MsWUFBQTtFQUNBLG1EQUFBO1VBQUEsMkNBQUE7QVZnVEQ7O0FXblVBLDhCQUFBO0FBRUE7RUFDQyxlQUFBO0VBQ0EsZUFBQTtFQUNFLFlBQUE7QVhxVUg7O0FXbFVBO0VBQ0csYUFBQTtBWHFVSDs7QVdsVUE7RUFDRyxxQkFBQTtFQUNBLDZCQUFBO0FYcVVIOztBV2xVQTtFQUNHLGFBQUE7RUFDQSwwQkFBQTtVQUFBLGtCQUFBO0VBQ0EscUNBQUE7VUFBQSw2QkFBQTtBWHFVSDs7QVdsVUE7RUFDQztJQUNLLFVBQUE7RVhxVUo7RVdsVUE7SUFDSSx1RkFBQTtJQUFBLHdEQUFBO0lBQ0EsNkJBQUE7RVhvVUo7RVdqVUQ7SUFDSyx1RkFBQTtJQUFBLHdEQUFBO0lBQ0EsNkJBQUE7RVhtVUo7QUFDRjs7QVdoVkE7RUFDQztJQUNLLFVBQUE7RVhxVUo7RVdsVUE7SUFDSSx1RkFBQTtJQUFBLHFEQUFBO0lBQUEsd0RBQUE7SUFDQSw2QkFBQTtFWG9VSjtFV2pVRDtJQUNLLHVGQUFBO0lBQUEscURBQUE7SUFBQSx3REFBQTtJQUNBLDZCQUFBO0VYbVVKO0FBQ0Y7QVl2V0EsZ0NBQUE7QUFFQTtFQUNDLGdCQUFBO0VBQ0EsMEJBQUE7S0FBQSx1QkFBQTtFQUNBLG1CQUFBO0VBQ0EsbUJBQUE7TUFBQSxvQkFBQTtVQUFBLFlBQUE7RUFDQSxxQkFBQTtBWndXRDs7QVlyV0E7RUFDQyxtQkFBQTtBWndXRDs7QVlyV0E7RUFDQyx5QkFBQTtFQUNBLGlCQUFBO0Fad1dEOztBWXJXQTtFQUNDLG9CQUFBO0VBQUEsb0JBQUE7RUFBQSxhQUFBO0VBQ0EseUJBQUE7TUFBQSxzQkFBQTtVQUFBLDhCQUFBO0VBQ0EsZ0JBQUE7RUFDQSxlQUFBO0VBQ0Esc0JBQUE7RUFDQSxtQkFBQTtFQUNBLDhDQUFBO1VBQUEsc0NBQUE7RUFDQSxnQkFBQTtFQUNBLFlBQUE7QVp3V0Q7O0FZcldBO0VBQ0MsZ0JBQUE7RUFDQSxrQkFBQTtFQUNBLG1CQUFBO0VBQ0EsUUFBQTtFQUNBLHlCQUFBO01BQUEsc0JBQUE7VUFBQSxtQkFBQTtFQUNBLDRCQUFBO0VBQUEsdUJBQUE7RUFBQSxvQkFBQTtFQUNBLGlCQUFBO0Fad1dEOztBWXJXQTtFQUNDLHFCQUFBO0VBQ0EsWUFBQTtFQUNFLFdBQUE7RUFDQSxlQUFBO0VBQ0YsaUNBQUE7TUFBQSw2QkFBQTtVQUFBLHlCQUFBO0VBQ0EsMkNBQUE7RUFBQSxtQ0FBQTtFQUFBLDhCQUFBO0VBQUEsMkJBQUE7RUFBQSxvREFBQTtBWndXRDs7QVlyV0E7RUFDQyxXQUFBO0Fad1dEOztBWXJXQTtFQUNDLCtCQUFBO01BQUEsMkJBQUE7VUFBQSx1QkFBQTtBWndXRDs7QWEvWkEsK0NBQUE7QUFFQTtFQUNDLDRCQUFBO1VBQUEsb0JBQUE7QWJpYUQ7O0FhOVpBO0VBQ0MsNkJBQUE7VUFBQSxxQkFBQTtFQUNBLHFDQUFBO1VBQUEsNkJBQUE7RUFDQSxVQUFBO0FiaWFEOztBYS9aQTtFQUNDLDhCQUFBO1VBQUEsc0JBQUE7RUFDQSxxQ0FBQTtVQUFBLDZCQUFBO0VBQ0EsVUFBQTtBYmthRDs7QWFoYUE7RUFDQyw4QkFBQTtVQUFBLHNCQUFBO0VBQ0EscUNBQUE7VUFBQSw2QkFBQTtFQUNBLFVBQUE7QWJtYUQ7O0FhaGFBO0VBQ0MsOEJBQUE7VUFBQSxzQkFBQTtFQUNBLHFDQUFBO1VBQUEsNkJBQUE7RUFDQSxVQUFBO0FibWFEOztBYWhhQTtFQUNJO0lBQ0YsbUNBQUE7WUFBQSwyQkFBQTtJQUNNLFVBQUE7RWJtYU47RWFqYUU7SUFDRixnQ0FBQTtZQUFBLHdCQUFBO0lBQ00sVUFBQTtFYm1hTjtBQUNGOztBYTNhQTtFQUNJO0lBQ0YsbUNBQUE7WUFBQSwyQkFBQTtJQUNNLFVBQUE7RWJtYU47RWFqYUU7SUFDRixnQ0FBQTtZQUFBLHdCQUFBO0lBQ00sVUFBQTtFYm1hTjtBQUNGIiwiZmlsZSI6InN0eWxlLmNzcyJ9 */